# Virtual environments
myenv/
.venv/
venv/
env/
.python-version

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db